[user]
	name = Benjamin Wheeler
	email = benjaminwheeler0510@gmail.com
[init]
    defaultBranch = main

# Added for kitty diff
[diff]
    tool = kitty
    guitool = kitty.gui
[difftool]
    prompt = false
    trustExitCode = true
[difftool "kitty"]
    cmd = kitty +kitten diff $LOCAL $REMOTE
[difftool "kitty.gui"]
    cmd = kitty kitty +kitten diff $LOCAL $REMOTE
